version: '3.8'

services:
  db:
    image: postgres:alpine
    environment:
      - POSTGRES_DB=students
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=ric
    ports:
      - "5432:5432"
    volumes:
      - ./services/backend/db/dataset:/docker-entrypoint-initdb.d
    restart: always
    networks:
      - initexample

  backend:
    build: ./services/backend
    environment:
      - DBHOST=db
      - DBUSER=postgres
      - DBNAME=students
      - DBPASS=ric
      - SSLMODE=disable
      - DBDRIVER=postgres
    depends_on:
      - db
    networks:
      - initexample
    ports:
      - "8443:8443"
  frontend:
    build: ./services/frontend
    ports:
      - "3000:3000"
    networks:
      - initexample

networks:
  initexample:
    driver: bridge
